*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #121212;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Container*/
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 20px;
}

/*Image Holder*/
#holder{
    width: 50%;
    min-height: 600px;
    border: 2px solid #fbfbfb;
    border-radius: 9px;
    text-align: center;
}

#img{
    max-width: 95%;
    max-height: 550px;
    margin: 20px;
}

/*End of Image Holder*/

/*Tool Box*/
.tools{
    max-width: 20%;
    min-height: 600px;
    margin: 20px;
    border: 2px solid #fbfbfb;
    border-radius: 9px;
}

h2{
text-align: center;
}

#elements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    text-align: center;
    margin: 20px;
}

.item{
    width: 50px;
    height: 50px;
}

/*End of Tool Box*/

/*Notes*/
#add_note{
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    background-color: #673085;
    border-radius: 20px;
    cursor: pointer;
    border-color: transparent;
}

#add_note:active{
    transform: translate(0px, -5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#add{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

#notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.note{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: papayawhip;
    height: 130px;
    width: 130px;
    margin: 10px;
    padding: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.note textarea{
    background-color: transparent;
    min-height: 90px;
    max-width: 110px;
    font-size: 18px;
    text-align: center;
    border: transparent;
    color: #121212;
}


/*End of notes*/

/*Responsive*/
@media (max-width: 900px){
    #holder{
        width: 600px;
        height: auto;
    }

    #img{
        max-width: 550px;
        height: auto;
    }

    .tools{
        width: 600px;
        height: auto;
    }
}

@media (max-width: 650px){
    #holder{
        width: 400px;
        height: auto;
    }

    #img{
        max-width: 350px;
        height: auto;
    }

    .tools{
        width: 400px;
        height: auto;
    }
}
